.App {
  padding: 50px;
  display: flex;
  justify-content: spece-around;
  flex-wrap: wrap;
  font-size: 14px;
}

.App--loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Movie{
  width: 50%;
}
