.App {
  
  display: flex;
  justify-content: spece-around;
  flex-wrap: wrap;
  font-size: 14px;
}

.App--loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header_nav_div {
  font-size: 28px;
}
/* .Movie{
  width: 50%;
} */
